/StringGyak/nbproject/private/
/StringGyak/build/
/Dolgozat/nbproject/private/
/Metodusok2/nbproject/private/
/Metodusok2/build/
/ArrayListPelda/nbproject/private/
/ArrayListPelda/build/
/MetodusGyak/nbproject/private/
/MetodusGyak/build/
/Metodusgyak2/nbproject/private/
/Metodusgyak2/build/
/metodusgyakorlas2/nbproject/private/
/metodusgyakorlas2/build/
/Gyakorlas1/nbproject/private/
/Gyakorlas1/build/
/derekszoguharomszog/nbproject/private/
/derekszoguharomszog/build/
/Sziget/nbproject/private/
/Sziget/build/
/Gyakorlas2/nbproject/private/
/Togyeriska viktor/nbproject/private/
/Togyeriska viktor/build/
/Togyeriska viktor 2/nbproject/private/
/TogyeriskaViktor/nbproject/private/
/TogyeriskaViktor/build/
/Matrix0207/nbproject/private/
/Matrix0207/build/
/HarmasOperator/nbproject/private/
/HarmasOperator/build/
/GyakorlásFeb21/nbproject/private/
/GyakorlásFeb21/build/
/FEB.28 gyakorlás dolgozatra/nbproject/private/
/FEB.28 gyakorlás dolgozatra/build/
/MatrixDogaGYak/nbproject/private/